<turbo-frame id="user-register">
  <main class="user-form text-center">
    <%= form_with model: @user, url: users_path, class: "form-signin" do |form| %>
      <%= render partial: "shared/form_errors", locals: { object: form.object } %>
      <h1 class="h1 mb-3 fw-normal">Sign-up for get spams every day</h1>

      <div class="form-floating">
        <%= form.email_field :email,
          required: true,
          placeholder: "spam_me@everyday.com",
          class: "form-control"
        %>
        <%= form.label :email %>
      </div>

      <div class="form-floating">
        <%= form.password_field :password,
          requred: true,
          placeholder: "Password",
          class: "form-control password"
        %>
        <%= form.label :password %>
      </div>

      <div class="form-floating">
        <%= form.password_field :password_confirmation,
          requred: true,
          placeholder: "Password",
          class: "form-control last-password"
        %>
        <%= form.label :password_confirmation %>
      </div>

      <%= form.submit "Register", class: "w-100 btn btn-lg btn-primary" %>
    <% end %>
  </main>
</turbo-frame>
<%= render "shared/session_links", purpose: :register %>
