<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "AuthP", root_path, class: "navbar-brand" %>

    <button
        class="navbar-toggler" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNav" class="sticky-top collapse navbar-collapse justify-content-between">
      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item d-flex">
          <%= link_to "About", about_greeter_index_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
         <li class="nav-item d-flex">
           <%= link_to "All posts", posts_path, class: "nav-link" %>
         </li>
        <% end %>
      </ul>
      <div class="d-flex justify-content-around">
        <% unless user_signed_in? %>
          <button
              class="btn btn-light d-flex"
              type="button"
              data-bs-toggle="modal" data-bs-target="#signInModal">
              Sign-in</button>
          <button
              class="btn btn-secondary d-flex"
              type="button"
              data-bs-toggle="modal" data-bs-target="#signUpModal">
              Sign-up</button>
        <% else %>
          <button
              class="btn btn-info d-flex"
              type="button"
              data-bs-toggle="modal" data-bs-target="#editUserModal">
              <%= current_user.email %></button>
          <% if current_user.granted_for? "manage_users" %>
              <button
                class="btn btn-warning d-flex"
                type="button"
                data-bs-toggle="modal" data-bs-target="#manageUser">
                Control Roles/Grants</button>
          <% end %>
          <%= link_to "Logout", active_session_path(current_user.active_sessions.last),
            method: :delete,
            "data-turbo-method": "delete",
            class: "btn btn-danger d-flex"
          %>
        <% end %>
       </div>
    </div>
  </div>
</nav>
