<div id="<%= dom_id post %>" class="card mb-4 mt-4">
  <div class="card-body">
    <h1 class="card-title">
     <%= post.title %>
    </h1>
    <%= content_tag :div, post.body, class: "card-text" %>
    <%= post.user.email %> - <%= post.user.role.name %>
  </div>
</div>
